In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing

In [1]:
import pandas as pd

#df = pd.read_csv('flights_sample_3m.csv')
df = pd.read_csv('_ALL_FLIGHTS_30m.csv')

#Dropping columns
delcols = ['DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_DELAY', 
                     'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'AIR_TIME', 'DELAY_DUE_CARRIER',
                     'DEP_TIME', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY', 'DELAY_DUE_LATE_AIRCRAFT']  
df = df.drop(columns=delcols)

C:\Users\dansh\AppData\Local\Temp\ipykernel_23192\2729122126.py:4: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('_ALL_FLIGHTS_30m.csv')

In [2]:
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'], infer_datetime_format=True)

df = df[df['FL_DATE'] >= '2023-01-01']

In [3]:
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,ARR_TIME,CANCELLED,ELAPSED_TIME,DISTANCE,DELAY_DUE_WEATHER
24834913,2023-06-04,Endeavor Air Inc.,Endeavor Air Inc.: 9E,9E,20363,4628,DSM,"Des Moines, IA",LGA,"New York, NY",1033,1439.0,0.0,166.0,1031.0,0.0
24834914,2023-06-01,Endeavor Air Inc.,Endeavor Air Inc.: 9E,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,1116.0,0.0,80.0,254.0,NaN
24834915,2023-06-02,Endeavor Air Inc.,Endeavor Air Inc.: 9E,9E,20363,4628,ROC,"Rochester, NY",LGA,"New York, NY",1001,1102.0,0.0,66.0,254.0,NaN
24834916,2023-06-01,Endeavor Air Inc.,Endeavor Air Inc.: 9E,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1556.0,0.0,69.0,189.0,NaN
24834917,2023-06-02,Endeavor Air Inc.,Endeavor Air Inc.: 9E,9E,20363,4629,ITH,"Ithaca/Cortland, NY",JFK,"New York, NY",1452,1554.0,0.0,66.0,189.0,NaN

In [4]:
#df.to_csv("flights_clean.csv", index=False)
df.to_csv("all_flights_clean.csv", index=False)

In [19]:
df2 = pd.read_csv('flights_clean_Copy.csv')

count_ones = df2['CANCELLED'].value_counts().get(1, 0)

print(f"Number of cells with value 1 in 'your_column': {count_ones}")

Number of cells with value 1 in 'your_column': 7809

In [9]:
df_filtered = df[df['CANCELLED'] == 1]

print(df_filtered)

            FL_DATE            AIRLINE            AIRLINE_DOT AIRLINE_CODE  \
24835014 2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E           9E
24835016 2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E           9E
24835023 2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E           9E
24835036 2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E           9E
24835042 2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E           9E
...             ...                ...                    ...          ...
29379614 2023-08-04   Republic Airline   Republic Airline: YX           YX
29379623 2023-08-04   Republic Airline   Republic Airline: YX           YX
29379626 2023-08-04   Republic Airline   Republic Airline: YX           YX
29379639 2023-08-04   Republic Airline   Republic Airline: YX           YX
29379648 2023-08-04   Republic Airline   Republic Airline: YX           YX

          DOT_CODE  FL_NUMBER ORIGIN         ORIGIN_CITY DEST       DEST_CITY  \
24835014     20363       4654    LGA        New York, NY  MKE   Milwaukee, WI
24835016     20363       4655    JFK        New York, NY  RIC    Richmond, VA
24835023     20363       4656    MCI     Kansas City, MO  LGA    New York, NY
24835036     20363       4661    RDU  Raleigh/Durham, NC  LGA    New York, NY
24835042     20363       4663    BHM      Birmingham, AL  LGA    New York, NY
...            ...        ...    ...                 ...  ...             ...
29379614     20452       3447    EWR          Newark, NJ  MHT  Manchester, NH
29379623     20452       3438    EWR          Newark, NJ  MDT  Harrisburg, PA
29379626     20452       3432    BUF         Buffalo, NY  EWR      Newark, NJ
29379639     20452       3417    BGR          Bangor, ME  EWR      Newark, NJ
29379648     20452       3406    EWR          Newark, NJ  AVL   Asheville, NC

          CRS_DEP_TIME  ARR_TIME  CANCELLED  ELAPSED_TIME  DISTANCE  \
24835014          1934       NaN        1.0           NaN     738.0
24835016          2125       NaN        1.0           NaN     288.0
24835023          1408       NaN        1.0           NaN    1107.0
24835036          1915       NaN        1.0           NaN     431.0
24835042          1700       NaN        1.0           NaN     866.0
...                ...       ...        ...           ...       ...
29379614          2159       NaN        1.0           NaN     209.0
29379623          2119       NaN        1.0           NaN     141.0
29379626          1727       NaN        1.0           NaN     282.0
29379639          1903       NaN        1.0           NaN     393.0
29379648          2000       NaN        1.0           NaN     583.0

          DELAY_DUE_WEATHER
24835014                NaN
24835016                NaN
24835023                NaN
24835036                NaN
24835042                NaN
...                     ...
29379614                NaN
29379623                NaN
29379626                NaN
29379639                NaN
29379648                NaN

[75616 rows x 16 columns]

In [11]:
df_filtered.to_csv("all_flights_clean_cancelled.csv", index=False)

In [25]:
df3 = pd.read_csv('flights_clean_Copy.csv')

df3_filtered = df3[df3['CANCELLED'] == 1]

print(df3_filtered)

           FL_DATE                 AIRLINE                 AIRLINE_DOT  \
139     2023-07-27        Republic Airline        Republic Airline: YX
173     2023-08-07   United Air Lines Inc.   United Air Lines Inc.: UA
177     2023-03-16   SkyWest Airlines Inc.   SkyWest Airlines Inc.: OO
198     2023-06-12  American Airlines Inc.  American Airlines Inc.: AA
299     2023-07-09        Republic Airline        Republic Airline: YX
...            ...                     ...                         ...
463263  2023-04-03         JetBlue Airways         JetBlue Airways: B6
463293  2023-07-27       Endeavor Air Inc.       Endeavor Air Inc.: 9E
463316  2023-07-31        Spirit Air Lines        Spirit Air Lines: NK
463389  2023-04-10    Delta Air Lines Inc.    Delta Air Lines Inc.: DL
463476  2023-07-09        Republic Airline        Republic Airline: YX

       AIRLINE_CODE  DOT_CODE  FL_NUMBER ORIGIN         ORIGIN_CITY DEST  \
139              YX     20452       3526    MYR    Myrtle Beach, SC  EWR
173              UA     19977       1741    STL       St. Louis, MO  EWR
177              OO     20304       3159    ACT            Waco, TX  DFW
198              AA     19805       1813    PHL    Philadelphia, PA  CLE
299              YX     20452       3609    PIT      Pittsburgh, PA  EWR
...             ...       ...        ...    ...                 ...  ...
463263           B6     20409       2520    MSY     New Orleans, LA  LGA
463293           9E     20363       4969    RDU  Raleigh/Durham, NC  LGA
463316           NK     20416        753    PHL    Philadelphia, PA  MCO
463389           DL     19790       2254    GNV     Gainesville, FL  ATL
463476           YX     20452       4296    BOS          Boston, MA  JFK

                    DEST_CITY  CRS_DEP_TIME  ARR_TIME  CANCELLED  \
139                Newark, NJ          1850       NaN        1.0
173                Newark, NJ          1733       NaN        1.0
177     Dallas/Fort Worth, TX          1855       NaN        1.0
198             Cleveland, OH          1910       NaN        1.0
299                Newark, NJ          1850       NaN        1.0
...                       ...           ...       ...        ...
463263           New York, NY          1130       NaN        1.0
463293           New York, NY          1755       NaN        1.0
463316            Orlando, FL          1932       NaN        1.0
463389            Atlanta, GA           600       NaN        1.0
463476           New York, NY          1734       NaN        1.0

        ELAPSED_TIME  DISTANCE  DELAY_DUE_WEATHER
139              NaN     550.0                NaN
173              NaN     872.0                NaN
177              NaN      89.0                NaN
198              NaN     363.0                NaN
299              NaN     319.0                NaN
...              ...       ...                ...
463263           NaN    1183.0                NaN
463293           NaN     431.0                NaN
463316           NaN     861.0                NaN
463389           NaN     300.0                NaN
463476           NaN     187.0                NaN

[7809 rows x 16 columns]

In [26]:
df3_filtered.to_csv("FLIGHTS_TO_ERASE.csv", index=False)

In [30]:
df_erase['FL_DATE'] = pd.to_datetime(df_erase['FL_DATE'], infer_datetime_format=True)

column_info = pd.DataFrame({
    'Column Name': df_erase.columns,
    'Data Type': df_erase.dtypes
})

print(column_info)

                         Column Name       Data Type
FL_DATE                      FL_DATE  datetime64[ns]
AIRLINE                      AIRLINE          object
AIRLINE_DOT              AIRLINE_DOT          object
AIRLINE_CODE            AIRLINE_CODE          object
DOT_CODE                    DOT_CODE           int64
FL_NUMBER                  FL_NUMBER           int64
ORIGIN                        ORIGIN          object
ORIGIN_CITY              ORIGIN_CITY          object
DEST                            DEST          object
DEST_CITY                  DEST_CITY          object
CRS_DEP_TIME            CRS_DEP_TIME           int64
ARR_TIME                    ARR_TIME         float64
CANCELLED                  CANCELLED         float64
ELAPSED_TIME            ELAPSED_TIME         float64
DISTANCE                    DISTANCE         float64
DELAY_DUE_WEATHER  DELAY_DUE_WEATHER         float64

In [29]:
column_info = pd.DataFrame({
    'Column Name': df_filtered.columns,
    'Data Type': df_filtered.dtypes
})

print(column_info)

                         Column Name       Data Type
FL_DATE                      FL_DATE  datetime64[ns]
AIRLINE                      AIRLINE          object
AIRLINE_DOT              AIRLINE_DOT          object
AIRLINE_CODE            AIRLINE_CODE          object
DOT_CODE                    DOT_CODE           int64
FL_NUMBER                  FL_NUMBER           int64
ORIGIN                        ORIGIN          object
ORIGIN_CITY              ORIGIN_CITY          object
DEST                            DEST          object
DEST_CITY                  DEST_CITY          object
CRS_DEP_TIME            CRS_DEP_TIME           int64
ARR_TIME                    ARR_TIME         float64
CANCELLED                  CANCELLED         float64
ELAPSED_TIME            ELAPSED_TIME         float64
DISTANCE                    DISTANCE         float64
DELAY_DUE_WEATHER  DELAY_DUE_WEATHER         float64

In [32]:
#manually dropped uneeded columns

df_erase = pd.read_csv('FLIGHTS_TO_ERASE.csv')

merged_df = pd.merge(df_filtered, df_erase, on=['AIRLINE','DOT_CODE'
                                                ,'FL_NUMBER','DEST_CITY'], how='left', indicator=True)

df_filtered_no_erase = merged_df[merged_df['_merge'] == 'left_only'].drop('_merge', axis=1)

rows_deleted = len(df_filtered) - len(df_filtered_no_erase)

# Display the resulting DataFrame without the matching rows and the count
print(f"Number of rows deleted: {rows_deleted}")
print(df_filtered_no_erase)

Number of rows deleted: 26410
       FL_DATE_x            AIRLINE          AIRLINE_DOT_x AIRLINE_CODE_x  \
1     2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E             9E
2     2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E             9E
3     2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E             9E
4     2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E             9E
5     2023-06-02  Endeavor Air Inc.  Endeavor Air Inc.: 9E             9E
...          ...                ...                    ...            ...
85074 2023-08-04   Republic Airline   Republic Airline: YX             YX
85075 2023-08-04   Republic Airline   Republic Airline: YX             YX
85081 2023-08-04   Republic Airline   Republic Airline: YX             YX
85087 2023-08-04   Republic Airline   Republic Airline: YX             YX
85088 2023-08-04   Republic Airline   Republic Airline: YX             YX

       DOT_CODE  FL_NUMBER ORIGIN_x       ORIGIN_CITY_x DEST_x  \
1         20363       4655      JFK        New York, NY    RIC
2         20363       4656      MCI     Kansas City, MO    LGA
3         20363       4661      RDU  Raleigh/Durham, NC    LGA
4         20363       4663      BHM      Birmingham, AL    LGA
5         20363       4671      JFK        New York, NY    CHS
...         ...        ...      ...                 ...    ...
85074     20452       3554      DTW         Detroit, MI    EWR
85075     20452       3512      EWR          Newark, NJ    GSO
85081     20452       3447      EWR          Newark, NJ    MHT
85087     20452       3417      BGR          Bangor, ME    EWR
85088     20452       3406      EWR          Newark, NJ    AVL

                       DEST_CITY  ...  AIRLINE_CODE_y  ORIGIN_y  \
1                   Richmond, VA  ...             NaN       NaN
2                   New York, NY  ...             NaN       NaN
3                   New York, NY  ...             NaN       NaN
4                   New York, NY  ...             NaN       NaN
5                 Charleston, SC  ...             NaN       NaN
...                          ...  ...             ...       ...
85074                 Newark, NJ  ...             NaN       NaN
85075  Greensboro/High Point, NC  ...             NaN       NaN
85081             Manchester, NH  ...             NaN       NaN
85087                 Newark, NJ  ...             NaN       NaN
85088              Asheville, NC  ...             NaN       NaN

       ORIGIN_CITY_y  DEST_y  CRS_DEP_TIME_y  ARR_TIME_y CANCELLED_y  \
1                NaN     NaN             NaN         NaN         NaN
2                NaN     NaN             NaN         NaN         NaN
3                NaN     NaN             NaN         NaN         NaN
4                NaN     NaN             NaN         NaN         NaN
5                NaN     NaN             NaN         NaN         NaN
...              ...     ...             ...         ...         ...
85074            NaN     NaN             NaN         NaN         NaN
85075            NaN     NaN             NaN         NaN         NaN
85081            NaN     NaN             NaN         NaN         NaN
85087            NaN     NaN             NaN         NaN         NaN
85088            NaN     NaN             NaN         NaN         NaN

      ELAPSED_TIME_y DISTANCE_y DELAY_DUE_WEATHER_y
1                NaN        NaN                 NaN
2                NaN        NaN                 NaN
3                NaN        NaN                 NaN
4                NaN        NaN                 NaN
5                NaN        NaN                 NaN
...              ...        ...                 ...
85074            NaN        NaN                 NaN
85075            NaN        NaN                 NaN
85081            NaN        NaN                 NaN
85087            NaN        NaN                 NaN
85088            NaN        NaN                 NaN

[49206 rows x 28 columns]

In [33]:
import pandas as pd

# Assuming you have a DataFrame named df_filtered_no_erase
# Check for duplicate rows
duplicate_rows = df_filtered_no_erase[df_filtered_no_erase.duplicated()]

# Display the duplicate rows
print("Duplicate Rows:")
print(duplicate_rows)

# Count the number of duplicate rows
num_duplicate_rows = len(duplicate_rows)
print(f"\nNumber of Duplicate Rows: {num_duplicate_rows}")

Duplicate Rows:
Empty DataFrame
Columns: [FL_DATE_x, AIRLINE, AIRLINE_DOT_x, AIRLINE_CODE_x, DOT_CODE, FL_NUMBER, ORIGIN_x, ORIGIN_CITY_x, DEST_x, DEST_CITY, CRS_DEP_TIME_x, ARR_TIME_x, CANCELLED_x, ELAPSED_TIME_x, DISTANCE_x, DELAY_DUE_WEATHER_x, FL_DATE_y, AIRLINE_DOT_y, AIRLINE_CODE_y, ORIGIN_y, ORIGIN_CITY_y, DEST_y, CRS_DEP_TIME_y, ARR_TIME_y, CANCELLED_y, ELAPSED_TIME_y, DISTANCE_y, DELAY_DUE_WEATHER_y]
Index: []

[0 rows x 28 columns]

Number of Duplicate Rows: 0

In [34]:
df_filtered_no_erase.to_csv("USE_THESE.csv", index=False)

In [37]:
import pandas as pd

# Assuming you have DataFrames named df_filtered_no_erase and df_erase
# and both have the same structure with at least one common column

# Merge df_filtered_no_erase and df_erase on the common column(s)
merged_check = pd.merge(df_filtered_no_erase, df_erase, on=['AIRLINE','DOT_CODE'
                                                ,'FL_NUMBER','DEST_CITY'], how='inner')

if not merged_check.empty:
    print("There are matching rows between df_filtered_no_erase and df_erase.")
    print("Matching Rows:")
    print(merged_check)
else:
    print("There are no matching rows between df_filtered_no_erase and df_erase.")

There are no matching rows between df_filtered_no_erase and df_erase.

In [2]:
df6 = pd.read_csv('merged_data.csv')

count_ones = df6['CANCELLED'].value_counts().get(1, 0)

print(f"Number of cells with value 1 in 'your_column': {count_ones}")

Number of cells with value 1 in 'your_column': 48214